<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="tarotContainer" connectionString="metadata=res://*/database.csdl|res://*/database.ssdl|res://*/database.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=sql.osmosource.fr;User Id=dev_amtarotadm;password=mdatoratmaved;Persist Security Info=True;database=dev_amtarot&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>